[flake8]
max-line-length = 99
ignore =
    E402 # Module level import not top of file
    W503 # line break occurred before binary operator
    W504 # line break occurred before binary operator
    E266 # too many leading '#' for block comment
