[submodule "dsgrid-test-data"]
	path = dsgrid-test-data
	url = git@github.com:dsgrid/dsgrid-test-data.git
	branch = main
[submodule "dsgrid-project-StandardScenarios"]
	path = dsgrid-project-StandardScenarios
	url = git@github.com:dsgrid/dsgrid-project-StandardScenarios.git
	branch = ll/growth_rates
[submodule "dsgrid-project-DECARB"]
	path = dsgrid-project-DECARB
	url = git@github.com:dsgrid/dsgrid-project-DECARB.git
	branch = main
