name: Documentation

on:
  push:
    branches: [main]

jobs:
  make-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: select python version
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y pandoc
          python -m pip install --upgrade pip
          python -m pip install '.[admin]'
      - name: build documentation
        run: |
          git submodule init
          git submodule update
          cd docs
          make clean
          make html
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          force_orphan: true
          full_commit_message: ${{ github.event.head_commit.message }}
